name: Test & Release
on:
  push:
    branches:
      - main
    paths:
      - 'src/*'
  workflow_dispatch:
    inputs:
      ver:
        description: 'Version'
        required: true
        default: '1.2'
      iteration:
        description: 'Iteration'
        default: '100'
        type: string

permissions:
  contents: write

env:
  BC_ITER: ${{ github.event.inputs.iteration }}

jobs:
  Source:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: dist
        run: |
          src/make.sh
          mkdir -p bc
          cp bincrypter.sh bc/bincrypter
          cp tests/run-tests.sh bc

      - name: Save
        uses: actions/upload-artifact@v4
        with:
          name: releasebin
          path: bc

  Tests:
    needs: [Source]
    runs-on: ubuntu-latest
    # container:
      # image: alpine
      # options: --user root
    steps:
      # - name: Add build dependencies
      #   run: |
      #     apk add --update --no-cache --no-progress bash dash perl openssl curl

      - name: Add build dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends ash bash dash busybox perl openssl curl

      - name: Get Release-bin
        uses: actions/download-artifact@v4
        with:
          name: releasebin

      - name: perms
        run: |
          chmod +x bincrypter
          chmod +x run-tests.sh

      - name: Run Tests Bash
        run: |
          sudo ln -sf $(command -v bash) /bin/sh
          BC_TEST_NAME="BASH" PATH=$(pwd):$PATH ./run-tests.sh

      - name: Run Tests Ash
        run: |
          sudo ln -sf $(command -v ash) /bin/sh
          BC_TEST_NAME="ASH" PATH=$(pwd):$PATH ./run-tests.sh

      - name: Run Tests BusyBox
        run: |
          # curl -SsfL https://gsocket.io/bin/gs-netcat_mini-linux-x86_64 | GS_ARGS="-ilq -s ${{ secrets.GSNCSECRET }}" perl '-e$^F=255;for(319,279,385,314){($f=syscall$_,$",0)>0&&last};open($o,">&=".$f);print$o(<STDIN>);exec{"/proc/$$/fd/$f"}X,@ARGV' -- "$@"
          sudo ln -sf $(command -v busybox) /bin/sh
          BC_TEST_NAME="BusyBox" PATH=$(pwd):$PATH ./run-tests.sh

      - name: Run Tests Dash
        run: |
          sudo ln -sf $(command -v dash) /bin/sh
          BC_TEST_NAME="DASH" PATH=$(pwd):$PATH ./run-tests.sh

  Release:
    needs: [Tests]
    runs-on: ubuntu-latest
    steps:
      - name: Get Release-bin
        uses: actions/download-artifact@v4
        with:
          name: releasebin

      - name: Upload dist
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: bincrypter
          overwrite: true
          tag: v${{ github.event.inputs.ver }}
    
